* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(50, 59, 70);
}

body {
    margin: 0;
    height: 100vh;

    background: repeating-conic-gradient(from 10deg at 25% 22%,
            rgb(255, 238, 183) 5deg 15deg,
            rgb(241, 207, 94) 10deg 30deg);
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "nav"
}

h1,
h3 {
    display: flex;
    align-content: center;
    justify-content: center;
}

#home {
    display: flex;
    align-content: center;
    justify-content: center;
}


body>nav {
    grid-area: nav;
    background-color: rgb(223, 174, 15);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
}

nav>img {
    width: 43px;
    object-fit: contain;
    margin-right: auto;
}

nav>a {
    margin: 20 px;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
}

nav>a:hover {
    color: whitesmoke;
    background-color: rgb(50, 59, 70);
}

nav>a.active {
    color: whitesmoke;
}

#new-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form * {
    font-size: 18px;
    padding: 5px;
    border-radius: 7px;
}

#new-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
}

#edit-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#edit-form * {
    font-size: 18px;
    padding: 5px;
    border-radius: 7px;
}

#edit-form input[type="submit"] {
    grid-column: span 2;
    width: 10rem;
    margin-left: auto;
}

table {
    font-size: 23px;
}

table thead th {
    padding: 5px;
    border-bottom: 2px solid rgb(50, 59, 70);
}

table td {
    padding: 10px;
    text-align: center;
}

#picture {
    width: 175px;
    display: flex;
    justify-content: center;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    height: 50vh;
    margin: 4px;
    border: 5px solid rgb(50, 59, 70);
    border-radius: 5px;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px auto 0 auto;
    width: 1200px;
    flex-wrap: wrap;
}

#list {
    padding: 50px;
}

body>footer {
    background-color: rgb(223, 174, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 30px;
}

footer>a {
    margin: 20 px;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
}

footer>a:hover {
    color: whitesmoke;
    background-color: rgb(50, 59, 70);
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgb(223, 174, 15);
}

#update {
    min-width: inherit;
}


@media only screen and (max-width: 768px) {
    body {
        background: rgb(255, 238, 183);
    }

    body>nav {
        grid-area: nav;
        background-color: rgb(223, 174, 15);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 30px;
        margin: auto;
    }

    nav>img {
        width: 43px;
        object-fit: contain;
        margin: auto;
    }

    nav>a {
        margin: 20 px;
        text-decoration: none;
        padding: 10px;
    }

    nav>a.active {
        color: whitesmoke;
    }

    #new-form {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(1, minmax(auto, 20rem));
        margin: auto;
        justify-content: center;
    }

    #new-form * {
        padding: 5px;
        border-radius: 7px;
    }

    #new-form input[type="submit"] {
        grid-column: span 1;
        width: 10rem;
        margin-left: auto;
    }

    #edit-form {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, minmax(auto, 20rem));
        margin: auto;
        justify-content: center;
    }

    #edit-form * {
        padding: 5px;
        border-radius: 7px;
        justify-content: center;
    }

    #edit-form input[type="submit"] {
        grid-column: span 1;
        width: 10rem;
        margin-left: auto;
    }


    body>footer {
        background-color: rgb(223, 174, 15);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 30px;
        margin: auto;
    }

    footer>a {
        margin: 20 px;
        text-decoration: none;
        padding: 3px;
    }

    #gallery {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
        height: 50vh;
        margin: 4px;
        flex-wrap: wrap;
    }

    .gallery {
        width: 0vmin;
    }

    #home {
        display: flex;
        justify-content: center;
    }

    #picture {
        width: 88px;
        display: flex;
        justify-content: center;
    }

    #list {
        display: grid;
        margin: auto;
        justify-content: center;
        width: 0vmin;
    }

    table {
        font-size: 16px;
    }

    table thead th {
        padding: 3px;
        border-bottom: 1px solid rgb(50, 59, 70);
    }

    table td {
        padding: 24px;
        text-align: center;
    }
}