<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>WOODCRAFT GALLERY</title>
      </head>
      <body>
        <nav>
          <img src="/images/saw-blade.jpeg">
          <a href="/woodCrafts/new" >CREATE REQUEST</a>
          <a href="/woodCrafts/gallery">GALLERY</a>
          <a href="/woodCrafts" >HOME</a>
        </nav>


        <main>
            <h1>Previous Project Gallery</h1>
            <img src="/images/kegerator.jpeg" alt="kegerator" id="gallery">
            <img src="/images/calendar.JPG" alt="calendar" id="gallery">
            <img src="/images/coats.jpg" alt="coat rack" id="gallery">
            <img src="/images/cornhole.jpg" alt="cornhole" id="gallery">
            <img src="/images/bevTable.jpeg" alt="beverage table" id="gallery">
            <img src="/images/pegboard.jpeg" alt="pegboard" id="gallery">
            <img src="/images/table.JPG" alt="table" id="gallery">
            <img src="/images/desk.jpeg" alt="desk" id="gallery">
            <img src="/images/mugRack.jpeg" alt="mug rack" id="gallery">
            <img src="/images/table2.jpeg" alt="outdoor table" id="gallery">
            <img src="/images/motorMount.jpeg" alt="motor mount" id="gallery">
            <img src="/images/coopPlans.jpeg" alt="chicken coop plans" id="gallery">
            <img src="/images/coopLumberHaul.jpeg" alt="lumber haul" id="gallery">
            <img src="/images/chickenCoop.jpeg" alt="chickenCoop" id="gallery">


        </main>
        <footer>
          <p>All Rights Reserved Copyright &copy; NSWC2021</p>
          <a href="/woodCrafts" >HOME</a>
          <a href="mailto: niladri.sinha89@gmail.com">CONTACT</a>
      </footer>
</body>
</html>