<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>GALLERY</title>
      </head>
      <body>
        <nav>
          <img src="/images/saw-blade.jpeg">
          <a href="/woodCrafts/new" >CREATE REQUEST</a>
          <a href="/woodCrafts/gallery">GALLERY</a>
          <a href="/woodCrafts" >HOME</a>
        </nav>
        <main>
            <h3>Here is a glimpse at some previous projects!</h3>
            <img src="/images/kegerator.jpeg" alt="kegerator" id="gallery">
            <img src="/images/coats.jpg" alt="coat rack" id="gallery">
            <img src="/images/bevTable.jpeg" alt="beverage table" id="gallery">
            <img src="/images/coopPlans.jpeg" alt="chicken coop plans" id="gallery">
            <img src="/images/coopLumberHaul.jpeg" alt="lumber haul" id="gallery">

        </main>
    
</body>
</html>