<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>HOME</title>
      </head>
      <body>
        <nav>
          <img src="/public/images/saw-blade.jpeg">
          <a href="/woodCrafts/new" >CREATE REQUEST</a>
          <a href="/woodCrafts" >HOME</a>
        </nav>
        <main>
         

    


    <h1>Welcome to Niladri's Wood-Crafts</h1>
    <p>Hand crafted items to enhance your indoor outdoor spaces!</p>

    <img src="/public/images/Index.JPG " alt="Holding a saw">

    
    </main>
    

    <table id="list">
        <thead>
            <tr>
                <th>Wooden Craft</th>
                <th>Material</th>
                <th>Size / Dimensions</th>
                <th>Date Requested</th>
            </tr>
        </thead>
        <tbody>
            <% woodCrafts.forEach(function(woodCraft){ %>
                <tr>
                    <td><%= woodCraft.itemDesired %></td>
                    <td><%= woodCraft.material %></td>
                    <td><%= woodCraft.size %></td>
                    <td><%= woodCraft.createdAt.toLocaleString() %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>