<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title>REQUEST</title>
      </head>
      <body>
        <nav>
            <img src="">
            <a href="/woodCrafts/new" >CREATE REQUEST</a>
            <a href="/woodCrafts" >HOME</a>
          </nav>
        <main>
          <h1>REQUEST A CUSTOM PROJECT</h1>

    <form id="new-form" action="/woodCrafts" method="POST">
    <label>Project Name</label>
    <input type="text" name="itemDesired">
    <label>Material</label>
    <input type="text" name="material">
    <label>Size or Dimensions</label>
    <input type="text" name="size">
    <label>Cost</label>
    <input type="number" value="cost">
    <input type="submit" value="Request Project">
</form>

</body>
</html>